@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* universal selector */
* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h4 {
  color:blue;
}

/* Smooth Scroll */
html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}



/* Custom Scrollbar  */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */
/* Custom Scrollbar END */

/* Styles for background */
body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
180deg
, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

main {
  background-color: rgb(255 255 255 / 31%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1250px;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
  
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ccd2db; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d7075; 
  border-radius: 5px
}

/*Scrollbar*/

/* main::-webkit-scrollbar{
  display: none;
} */

.buttons {
  padding: 15px 0;
}

/* footer css */
footer {
  background-color: rgba(255, 255, 255, 0.31);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 5px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  align-self: center;
}

footer p {
  margin: 0.2rem 0;
}

footer a {
  color: blue;
  text-decoration: none;
  font-size: 0.8rem;
}

footer a:hover {
  text-decoration: underline;
}

/*Loading starts*/
/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #B6B4E7;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #3366CC;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
          animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/*Loading Ends*/

/* for displaying image on the left */
.container right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.content {
  max-width: 600px;
}

.image-text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.company-logo {
  height: 80px;
  width: 120px;
  margin-right: 20px;
}

/* for displaying image on the right */
.container left { 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.content {
  max-width: 600px;
}

.text-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.company-logo-zummit {
  height: 70px;
  width: 139px;
  margin-left: 10px;
}

.company-logo-codeclause {
  height: 65px;
  width: 139px;
  margin-left: 10px;
}


.btn_1, .submitButton{
  padding: 10px;
  background: #96A5FF;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(109, 91, 91);
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

#element {
  color: #2b2b68;
  font-size: 20px;
}
/* navbar styles */
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1.5px solid rgb(255 255 255 / 35%);
}

.navBar > h1,.navBar > navigationMenu{
  margin: 10px;
}

.navigationMenu > a{
  padding: 5px 9px;
  margin-left: 10px; 
  text-decoration: none;
  color: black;
  display: inline-block;
}

.navigationMenu > a:hover{
  transition: ease-in-out 300ms;
  background: white;
}

@media only screen and (max-width: 760px){
  .navigationMenu{
    display: none;
  }
}
/* navbar styles end */



/* Hero section styles */
.heroSection{
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.profileImage{
  width: 330px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.herosectionDetails{
  text-align: center;
}

.herosectionDetails > h1{
  font-size: 50px;
  margin: 10px;
}

/* Hero section styles end */

/* Work Exposure CSS start*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 5px solid #cbd8b6;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}


.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #e2f0cb;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e2f0cb;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #e2f0cb;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e2f0cb transparent transparent;
}

.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-color: #c0cbd9;
  position: relative;
  border-radius: 14px;
}

strong {
  font-size: large;

}

@media screen and (max-width: 800px) {

  .timeline::after {
      left: 31px;
  }


  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }


  .container::before {
      left: 60px;
      border: medium solid #e2f0cb;
      border-width: 10px 10px 10px 0;
      border-color: transparent #e2f0cb transparent transparent;
  }

  .left::after,
  .right::after {
      left: 15px;
  }


  .right {
      left: 0%;
  }
}
/* Work Exposure CSS end*/


/* about me styles */
.aboutMe{
  margin: 1rem;
  text-align: justify;
}
/* about me styles end */

.skillsAndProjects{
  margin: 1rem;
  display: grid;
  grid-template-columns: [one] 50% [two] 50%;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
}



.FindMe{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  width: calc(100% - 5rem);
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
}
.FindMe > a > img{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.FindMe > a > img:hover{
  transition: ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}
  


@media only screen and (max-width: 720px){
  .skillsAndProjects{
    grid-template-columns: [one] 100%;
    grid-template-rows: [one] [two]; 
  }
}

.skillsAndProjects > .skills,.skillsAndProjects> .projects{
  min-width: 250px;
  margin: 1rem;
  min-height: 250px;
}

.skillsAndProjects > .skills, .skillsAndProjects > .projects{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}


.cardHeading, .workexposure{
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.skillsAndProjects > .skills > img{
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.skillsAndProjects > .skills > img:hover{
  transition: ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}

.projectContainer{
  display: flex;
  width: 90%;
}

.projectContainer > img{
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.projectContainer > .projectDescription > h4{
  margin: 0;
}

.projectContainer > .projectDescription > p{
  margin: 0;
  margin-bottom: 1rem;
}

.contactForm, .FindMe, .workexperience{
  margin: 2rem;
  width: calc(100% - 4rem);
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
}

.contactForm > .formGroup{
  margin-bottom: 1rem;
}

.formGroup > input, .formGroup > textarea{
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  font-weight: 600;
}

.submitButton{
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
}



@media only screen and (max-width: 460px){

  .profileImage{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .herosectionDetails > h1{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  } 

  .herosectionDetails > h3{
    font-size: 20px;
    margin: 0;
    font-weight: 400;
  }





}